.container {
  min-height: 100vh;
  padding: 4rem;
  background-color: black;
  color: #ffffff;
}

.heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.blurb {
  text-align: center;
  font-size: 1.5rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.card {
  padding: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #333;                                                                                  
  border-radius: 8px;    */
}

.cardTitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.cardDescription {
  font-size: 1.5rem;
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 0.2rem;
}

.cardLink {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .heading {
    font-size: 2rem;
  }
}
