.nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  padding: 1.5rem 2rem;
  z-index: 100;
}

.link {
  font-size: 1rem;
  color: #213547;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
