* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  min-height: 100vh;
  background-color: #ffffff;
  color: #213547;
  font-weight: 200;
}

a {
  color: #b3d1d1;
  text-decoration: underline;
}

.fadeIn {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fadeIn.visible {
  opacity: 1;
  transform: translateY(0);
}
